html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  background-color: rgb(44, 41, 37);
  height: 80px;
  padding: 5px;
}
main {
  background: rgb(192, 191, 191);
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  height: 1080px;
  padding: 10px;
  margin-top: 25px;
}
article {
  background-color: rgba(2, 22, 0, 0.7);
  height: 1040px;
  width: 100%;
  padding: 20px;
}

footer {
  background-color: rgb(44, 41, 37);
  height: 150px;
  padding: 5px;
}

.footinfo {
  color: #fff;
}

.footinfo2 {
  color: #ffffffce;
  text-align: right;
}

.vakad1 {
  font-size: 1.5em;
  font-weight: bold;
  top: 590px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 30px;
  padding-left: 73px;
  display: inline;
  float: left;
  padding-right: 73px;
  clear: both;
}

.vakad2 {
  position: absolute;
  left: 400px;
  top: 590px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 126px;
  display: inline;
  float: left;
  padding-right: 126px;
  clear: both;
}

.vakad3 {
  position: absolute;
  top: 590px;
  left: 775px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 102px;
  display: inline;
  float: left;
  padding-right: 101px;
  clear: both;
}

.vakad4 {
  position: absolute;
  top: 590px;
  left: 1150px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 118px;
  display: inline;
  float: left;
  padding-right: 117px;
  clear: both;
}

.vakad5{
  position: absolute;
  top: 590px;
  left: 1530px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 100px;
  display: inline;
  float: left;
  padding-right: 99px;
  clear: both;
}

.vakad6{
  position: absolute;
  top: 880px;
  left: 30px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 119px;
  display: inline;
  float: left;
  padding-right: 118px;
  clear: both;
}

.vakad7 {
  position: absolute;
  top: 880px;
  left: 400px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 111px;
  display: inline;
  float: left;
  padding-right: 110px;
  clear: both;
}

.vakad8 {
  position: absolute;
  top: 880px;
  left: 775px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 114px;
  display: inline;
  float: left;
  padding-right: 113px;
  clear: both;
}

.vakad9 {
  position: absolute;
  top: 880px;
  left: 1150px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 105px;
  display: inline;
  float: left;
  padding-right: 105px;
  clear: both;
}

.vakad10 {
  position: absolute;
  top: 880px;
  left: 1530px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 40px;
  display: inline;
  float: left;
  padding-right: 40px;
  clear: both;
}

.info1 {
  position: absolute;
}

.info2 {
  position: absolute;
  left: 400px;
}

.info3 {
  position: absolute;
  left: 775px;
}

.info4 {
  position: absolute;
  left: 1150px;
}

.info5 {
  position: absolute;
  left: 1530px;
}

.info6 {
  position: absolute;
  top: 930px;
}

.info7 {
  position: absolute;
  top: 930px;
  left: 400px;
}

.info8 {
  position: absolute;
  top: 930px;
  left: 775px;
}

.info9 {
  position: absolute;
  top: 930px;
  left: 1150px;
}

.info10 {
  position: absolute;
  top: 930px;
  left: 1530px;
  
}

.adress{
  position: absolute;
  top: 1150px;
  left: 1430px;
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.459);
  padding-left: 20px;
  display: inline;
  float: left;
  padding-right: 20px;
  clear: both;

}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(192, 191, 191);
}

.text1 {
  color: rgb(218, 153, 92);
  font-size: 1.5em;
}

.text4 {
  color: rgb(218, 153, 92);
  font-size: 1.5em;
  text-align: center;
}
.text2{
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

a.green{
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  color: #fff;
  display:block;
  width:100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 8px 16px;
  margin: 20px auto;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;  
  top: 43%;
  left: 44%;
  position: absolute;
  top: 5em;
  left: 10px;
}      
 .green:hover .move-up {
  transform: translate(0,-350px);
  -webkit-transform: translate(0,-350px);
  -o-transform: translate(0,-350px);
  -moz-transform: translate(0,-350px);
}

  a.green {
  background-color: rgb( 196, 94, 11 );
  border: 1px solid rgb( 196, 94, 11 );
  }
          
  a.green:hover {
  background-color: rgb( 230, 126, 42 );
  }
  a.green2{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    display:block;
    width:100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    margin: 20px auto;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;  
    top: 43%;
    left: 44%;
    position: absolute;
    top: 5em;
    left: 180px;
  }      
   .green2:hover .move-up {
    transform: translate(0,-350px);
    -webkit-transform: translate(0,-350px);
    -o-transform: translate(0,-350px);
    -moz-transform: translate(0,-350px);
  }
  
    a.green2 {
    background-color: rgb(196, 94, 11 );
    border: 1px solid rgb( 196, 94, 11 );
    }
            
    a.green2:hover {
    background-color: rgb( 230, 126, 42 );
    }
    a.green3{
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
      color: #fff;
      display:block;
      width:100px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      padding: 8px 16px;
      margin: 20px auto;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: background-color 0.1s linear;
      -moz-transition: background-color 0.1s linear;
      -o-transition: background-color 0.1s linear;
      transition: background-color 0.1s linear;  
      top: 43%;
      left: 44%;
      position: absolute;
      top: 5em;
      left: 350px;
    }      
     .green3:hover .move-up {
      transform: translate(0,-350px);
      -webkit-transform: translate(0,-350px);
      -o-transform: translate(0,-350px);
      -moz-transform: translate(0,-350px);
    }
    
      a.green3 {
      background-color: rgb(196, 94, 11);
      border: 1px solid rgb( 196, 94, 11 );
      }
              
      a.green3:hover {
      background-color: rgb(230, 126, 42);
      }
  